body {
    background-image: url("background.jpeg");
}

.cadastro {
    background-color: lightblue;
    font-family: arial;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 100px;
    max-width: 300px;
    margin: auto;
    height: 350px;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;
}

.login {
    background-color: lightblue;
    font-family: arial;
    font-size: 20px;
    text-align: center;
    position: relative;
    top: 100px;
    max-width: 300px;
    margin: auto;
    height: 350px;
    padding: 10px;
    box-shadow: 10px 10px 10px gray;
}

.btn:hover {
    background-color: lightblue;
    color: black;
}
